@media (min-width: 1201px) and (max-width: 1265px){
    #cabecalho{
        background-color: red;
    }
    #pag-principal{
        display: flex;justify-content: center;
        align-items: center;
        width: 100%;
        height: 650px;
        background-color: blueviolet;
    
        background-image: url('../image/como-escolher-barbearia-800x300.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: -350px;
        background-size: cover;
    }
}    

@media (min-width: 1025px) and (max-width: 1200px){
    #cabecalho{
        background-color: blue;
    }
    #pag-principal{
        display: flex;justify-content: center;
        align-items: center;
        width: 100%;
        height: 650px;
        background-color: blueviolet;
    
        background-image: url('../image/como-escolher-barbearia-800x300.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: -450px;
        background-size: cover;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    #cabecalho{
        background-color: green;
    }
    #aba-nome-barbearia{
        margin: 0px;
    }
    #pag-principal{
        display: flex;justify-content: center;
        align-items: center;
        width: 100%;
        height: 650px;
        background-color: blueviolet;
    
        background-image: url('../image/como-escolher-barbearia-800x300.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: -700px;
        background-size: cover;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    #cabecalho{
        background-color: yellow;
    }
    #aba-nome-barbearia{
        margin: 0px;
        width: 475px;
    }
    #nome-e-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 475px;
        height: 230px;
        background-color: rgba(137, 43, 226, 0);
    }
    #logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
    }
    #nome-barbershop{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        color: white;
        font-size: 95px;
        font-family: 'barber';
    }
    #registro-e-login{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 325px;
        height: 150px;
        background-color: rgba(0, 0, 255, 0);
    }
    
    #botao-registro{
        width: 325px;
        height: 50px;
        font-family: 'barber';
        color: white;
        background-color: #F50109;
        border-radius: 5px;
        border: 0px;
        box-shadow: 0px 0px 10px #9D0005;
        font-size: 27px;
        font-weight: normal;
    }
    
    #botao-login{
        width: 325px;
        height: 50px;
        font-family: 'barber';
        color: white;
        background-color: #F50109;
        border-radius: 5px;
        border: 0px;
        box-shadow: 0px 0px 10px #9D0005;
        font-size: 27px;
        font-weight: normal;
    }
    #pag-principal{
        display: flex;justify-content: center;
        align-items: center;
        width: 100%;
        height: 650px;
        background-color: blueviolet;
    
        background-image: url('../image/como-escolher-barbearia-800x300.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: -950px;
        background-size: cover;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    #cabecalho{
        background-color: blueviolet;
    }
    #aba-nome-barbearia{
        margin: 0px;
        width: 310px;
    }
    #nome-e-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 230px;
        background-color: rgba(137, 43, 226, 0);
    }
    #logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
    }
    #nome-barbershop{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        color: white;
        font-size: 55px;
        font-family: 'barber';
    }
    #registro-e-login{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 300px;
        height: 150px;
        background-color: rgba(0, 0, 255, 0);
    }
    
    #botao-registro{
        width: 200px;
        height: 50px;
        font-family: 'barber';
        color: white;
        background-color: #F50109;
        border-radius: 5px;
        border: 0px;
        box-shadow: 0px 0px 10px #9D0005;
        font-size: 20px;
        font-weight: normal;
    }
    
    #botao-login{
        width: 200px;
        height: 50px;
        font-family: 'barber';
        color: white;
        background-color: #F50109;
        border-radius: 5px;
        border: 0px;
        box-shadow: 0px 0px 10px #9D0005;
        font-size: 27px;
        font-weight: normal;
    }
    #pag-principal{
        display: flex;justify-content: center;
        align-items: center;
        width: 100%;
        height: 650px;
        background-color: blueviolet;
    
        background-image: url('../image/como-escolher-barbearia-800x300.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: -1125px;
        background-size: cover;
    }
}